header {
    width:100%; min-width:320px; height:98px;
    background-color:rgb(69, 101, 245);
    padding:0 30px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
header h1 {}
header h1 a {color:#fff; font-weight:700; font-size:1.5rem;}
header nav {}
header nav .gnb {
    display:flex; flex-flow:row nowrap;
}
header nav .gnb > li {position:relative;}
header nav .gnb > li:last-child {margin-right:0;}
header nav .gnb > li > a {
    padding-right:80px; 
    color:#fff; font-weight:700; display:block;line-height:98px;
}
header nav .lnb_bg {
    background:#eee; height:400px; width:100%;
    position:absolute; left:0; top:98px;
    border-bottom-left-radius:45px;
    border-bottom-right-radius:45px;
    z-index:20;
    border-top:2px solid #000;
}
header nav .gnb > li > .lnb {
    position:absolute; z-index:50;
    border-right:1px solid #000;
    height:300px; width:100%;
}
header nav .gnb > li:hover > .lnb {}
header nav .gnb > li > .lnb li {}
header nav .gnb > li > .lnb li a {}
header .right_menu {display:flex;}
header .right_menu > * {margin-left:20px;}
header .right_menu .family {
    color:#fff; background:#d9d9d9; 
    padding:5px 15px; border-radius:20px;
    font-weight:700;
}
header .right_menu .family:hover {background:#0a31a8;}
header .right_menu .lang {margin:0 50px 0;}
header .right_menu .lang .active {color:#fff;}
header .right_menu .lang .active::after {
    content:'|'; margin-left:3px; font-weight:100;
}
header .right_menu .lang a {}
header .right_menu .m_nav {color:#fff;}
header .right_menu .m_nav_wrap {
    position:absolute; left:0; top:0;
    width:100%; height:100vh; margin-left:0;
    background:#fff; z-index:999;
    display:none;
}
header .right_menu .m_nav_wrap * {color:#000;}
header .right_menu .m_nav_wrap .top {
    height:98px; padding:0 30px;
    display:flex; justify-content:space-between; align-items:center;
}
header .right_menu .m_nav_wrap .top h1 {}
header .right_menu .m_nav_wrap .top h1 a {}
header .right_menu .m_nav_wrap .top .close {}
header .right_menu .m_nav_wrap .m_nav_open {}
header .right_menu .m_nav_wrap .m_nav_open .gnb {background:yellow;}
header .right_menu .m_nav_wrap .m_nav_open .gnb > li {}
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > a {}
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > .lnb {}
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > .lnb li {}
header .right_menu .m_nav_wrap .m_nav_open .gnb > li > .lnb li a {}